html {
    font-size: 15px;
    }
    .em {
        font-size: 15px;
        width: 10em;
        height: 10em;
        background-color: red;
    }
    .em p {
        font-size: 2em;
    }
    .rem {
        width: 10rem;
        height: 10rem;
        background-color: blue;
    }
    .rem p {
    font-size: 3rem;
}